{{page-title "Books"}}

<h1>Books</h1>

<ul>
  {{#each @model as |book|}}
    <li>
      <LinkTo @route="books.show" @model={{book}}>
        {{book.title}} <small>{{book.isbn}}</small>
      </LinkTo>
    </li>
  {{else}}
    <li>No books yet</li>
  {{/each}}
</ul>