{{page-title "Show"}}
<a href="/books">back to all books</a>
<h1>Showing book {{@model.title}}</h1>

<ul>
  <li>Author: {{@model.author}}</li>
  <li>Publication Date: {{@model.publicationDate}}</li>
  <li>Genre: {{@model.genre}}</li>
  <li>External links: <a href="{{@model.links}}" target="_blank">{{@model.links}}</a></li>
</ul>

<input
  {{on "click" this.updateFavorite}}
  id="favorite"
  type="checkbox"
  checked={{this.isFavorite.value}}
  disabled={{or this.persisting this.disableStoreFavorite}}
  />
<label for="favorite">Favorite?</label>

{{#if this.isFavorite.value}}
  <p>This page has been favorited, which means a QR code will be generated for it.</p>
  {{#if @model.qrCode}}
    <p>Scan the QR code to visit this book's page</p>
    <img src={{@model.qrCode.downloadUrl}} />
  {{else}}
    <p>The QR code may not have been generated yet and you may need to refresh the page.  Upon removing the favorite the QR code may be removed through an unfavorite action.</p>
  {{/if}}
{{/if}}