<h5>Mock Login</h5>
<p>Choose a user to test the application with:</p>
<div>
  <MockLogin as |login|>
    {{#if login.errorMessage}}
      {{#if (includes "403" (w (lowercase login.errorMessage)))}}
        {{!-- <alert --}}
        <p>not authorized</p>
        {{!-- /alert --}}
      {{else}}
        {{!-- <alert --}}
          <p>{{login.errorMessage}}</p>
        {{!-- /alert --}}
      {{/if}}
    {{/if}}
    {{#if this.model.length}}
      <ul>
        {{#each this.model as |account|}}
          <li
            {{on "click" (fn login.login account.id account.user.group.id)}}
          >
            <div>
              <span>{{account.user.firstName}} {{account.user.lastName}}</span>
            </div>
            {{!-- AuButton --}}
            <button type="button">
              login
            </button>
          </li>
        {{/each}}
      </ul>
    {{else}}
      No mock accounts found.
    {{/if}}
  </MockLogin>
</div>
